@font-face {
    font-family: "HANYIGUFENG";
    src: url('@/assets/text/HANYIGUFENG.ttf');
}
@font-face {
    font-family: "xingcao";
    src: url('@/assets/text/SongHuiZongShouJinJiaCuBan-2.ttf');
}